@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}
p {
  color: #222222;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.screen__lock {
  overflow: hidden;
}

.topHeight{
  top: 90.1%;
}

.toHeightForMobile{
  top: 83%
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  border: 1px solid gray;
  color: black;
  font-size: 18px;
  text-align: start;
  padding: 5px 20px;
  width: 250px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 250px;
  z-index: 1;
}

.dropdown-menu .dropdown-header {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
}

.dropdown-menu .dropdown-header .year-range {
  width: 100%;
}

.dropdown-menu .dropdown-header span:first-child, .dropdown-menu .dropdown-header span:last-child {
  cursor: pointer;
}

.dropdown-menu .dropdown-years {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  border: 1px solid gray;
  border-top: none;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  padding: 10px;
  z-index: 2;
}

.dropdown-menu .dropdown-years div {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-menu .dropdown-years div.active {
  border: 1px solid rgb(52, 135, 184);
}

.dropdown:hover .dropdown-menu {
  display: block;
}
